
<div class="fixed top-[50vh] right-0 bg-black p-0 block sm:hidden">
    <img id='menu_hamburguesa' class='w-[70px] p-0 m-0' src="../src/img/icon-hamburguesa.jpg" alt="">
</div>
<div id='menu' class="transition-all duration-150 menu no_print  sm:w-1/6 bg-blue-700 min-h-screen text-gray-200 p-4 leading-[40px] fixed sm:static sm:block left-[-300px] 
">
    <h2 class="text-center text-[20px] bg-blue-950 text-nowrap">APP DE CONSULTAS</h2>
    <ul>
        <li><a href="dni.php">Consulta DNI</a></li>
        <li><a href="nombres.php">Consulta NOMBRES</a></li>
        <li><a href="ruc.php">Consulta RUC</a></li>
        <li><a href="placa.php">Consulta PLACA</a></li>
    </ul>
</div>

<script>
     // MENU HAMBURGUESA
     let menuHamburguesa = document.querySelector('#menu_hamburguesa');
     let menu = document.querySelector('#menu');
     menuHamburguesa.addEventListener('click', e => {
        menu.classList.forEach(element => {
            if(element==='left-[-300px]'){
                menu.classList.remove('left-[-300px]')
                menu.style.left='0px'
                return false
            }
            else{
                menu.classList.add('left-[-300px]')
                menu.style.left='-300px'

            }
        });
    });
</script>